@font-face {
  font-family: 'Lazydog';
  src: url('/assets/fonts/lazy_dog.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'Garet';
    src: url('/assets/fonts/Garet.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Garet';
    src: url('/assets/fonts/Garet-Heavy.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
